/**************************
	VARIABLES
**************************/
$dark: #2D2830;
$light: #F1F1EB;
$brand: #CE4554;
$raleway: 'Raleway', sans-serif;
/**************************
	BASE VALUES
**************************/
html
{
	min-height: 100%;
}
*
{
	font-size: 20px;
	font-family: $raleway;
	line-height: 2rem;
	color: $dark;
}
body
{
	background: $light;
	min-height: 100%;
}
h1,h2,h3,h4,h5,h6
{
	font-size: 1.5rem;
    font-weight: 900;
    text-transform: uppercase;
}
img
{
	display: block;
}
button
{
    margin-top: 20px;
    padding: 10px;
    background: $brand;
    border: none;
    color: $light;
    cursor: pointer;
}
/**************************
	TOP HEADER
**************************/
.top-header
{
	background: $dark;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	height: 140px;
	.my-logo
	{
		width: 100px;
	}
	.top-header-social-media
	{
		display: flex;
		justify-content: right;
		padding: 1rem;
		.far, .fab
		{
			color: $light;
			font-size: 2rem;
			padding: 10px;
		}
	}
}
/**************************
	MAIN CONTENT
**************************/
.main-grid
{
	max-width: 100%;
	min-height: 100%;
	display: grid;
	grid-template-areas: 
		"about projects"
		"skills projects"
		"contact projects";
	grid-template-columns: 450px 1fr;
	.about
	{
		grid-area: about;
		img
		{
			max-width: 100%;
		}
		#pic-degree
		{
			max-width: 100%;
			margin-top: 20px;
		}
	}
	.skills
	{
		grid-area: skills;
	}
	.skills-grid
	{
		padding: 0px;
		margin: 0px;
		list-style-type: none;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		justify-content: center;
		align-items: center;
		li
		{
			display: flex;
			justify-content: center;
			margin: 0.5rem;
			img
			{
				padding: 0.5rem;
			}
		}
	}
	#particles-js
	{
		background: $brand;
		min-height: 100%;
		padding: 0px;
		overflow: hidden;
	}
	.projects
	{
		.description
		{
			background-color: $light;
			color: $brand;
			position: relative;
			top: 25px;
			width: 75%;
			margin: 0px auto;
			border-radius: 1%;
			text-align: center;
			a{color: $brand;}
		}
		grid-area: projects;
		.grid-container
		{
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(512px, 1fr));
			position: absolute;
			top: 140px;
			left: 450px;
			right: 0px;
			bottom: 0px;
			min-height: 100%;
			margin-top: 325px;
		}
		.grid-container
		{
			.item1, .item2, .item3, .item4
			{
				margin: 15px;
				a img
				{
					border-radius: 1%;
					max-width: 100%;
					margin: 0px auto;
					cursor: pointer;
				}
			}
		}
	}
	.contact
	{
		grid-area: contact;
		.far, .fab
		{
			color: $dark;
			font-size: 2rem;
			padding: 10px;
		}
	}
	.about, .skills, .contact
	{
		h2
		{
			color: $brand;
		}
	}
	.about, .skills, .contact, .projects, .projects .description, .grid-container > *
	{
		padding: 25px;
		p
		{
			margin: 10px 0px;
		}
	}
}
/**************************
	FOOTER
**************************/
footer
{
	background: $dark;
	color: $light;
	.footer-social-media
	{
		.far, .fab
		{
			color: $light;
			font-size: 2rem;
			padding: 10px;
		}
	}
}

/**************************
	DESKTOP DEVICES
**************************/
// Adjust projects & experience description class width.
@media only screen and (max-width: 3840px)
{
	.main-grid
	{
		.projects
		{
			.description
			{
				width: 75%;
			}
		}
	}
}
@media only screen and (max-width: 2560px)
{
	.main-grid
	{
		.projects
		{
			.description
			{
				width: 50%;
			}
		}
	}
}
@media only screen and (max-width: 1920px)
{
	.main-grid
	{
		.projects
		{
			.description
			{
				width: 75%;
			}
		}
	}
}

/**************************
	MEDIUM DEVICES
**************************/
@media only screen and (max-width: 1040px)
{
	.main-grid
	{
		max-width: 100%;
		display: flex;
		flex-direction: column;
		.about
		{
			header
			{
				img
				{
					max-width: 50%;
					float: left;
					margin-right: 20px;
				}
			}
		}
		#particles-js
		{
			background: $brand;
			height: 2434px;
			padding: 0px;
		}
		.projects
		{
			.description
			{
				position: static;
				width: 100%;
				text-align: left;
			}
			.grid-container
			{
				all: initial;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				position: absolute;
				width: 100%;
			}
			.grid-container .item1, .grid-container .item2, .grid-container .item3, .grid-container .item4
			{
				max-width: 100%;
				margin: 0px auto;
			}
		}
	}
}

// Adjust height of canvas element so that project thumbnails fit.
@media only screen and (max-width: 949px)
{
	.main-grid
	{
		#particles-js
		{
			background: $brand;
			height: 2474px;
			padding: 0px;
		}
	}
}
@media only screen and (max-width: 662px)
{
	.main-grid
	{
		#particles-js
		{
			background: $brand;
			height: 2514px;
			padding: 0px;
		}
	}
}
@media only screen and (max-width: 500px)
{
	.main-grid
	{
		#particles-js{
			background: $brand;
			height: 2306px;
			padding: 0px;
		}
	}
}
@media only screen and (max-width: 450px)
{
	.main-grid
	{
		#particles-js{
			background: $brand;
			height: 2106px;
			padding: 0px;
		}
	}
}
@media only screen and (max-width: 400px)
{
	.main-grid
	{
		#particles-js{
			background: $brand;
			height: 1946px;
			padding: 0px;
		}
	}
}
@media only screen and (max-width: 350px)
{
	.main-grid
	{
		#particles-js{
			background: $brand;
			height: 1786px;
			padding: 0px;
		}
	}
}
@media only screen and (max-width: 300px)
{
	.main-grid
	{
		#particles-js{
			background: $brand;
			height: 1662px;
			padding: 0px;
		}
	}
}

/**************************
	SMALLER DEVICES
**************************/
@media only screen and (max-width: 325px)
{
	.top-header
	{
		.top-header-social-media
		{
			.far, .fab
			{
				font-size: 1.5rem;
			}
		}
	}
}
@media only screen and (max-width: 400px)
{
	.main-grid
	{
		.about
		{
			header
			{
				img
				{
					min-width: 100%;
					margin: 0px 0px 15px 0px;
				}
			}
		}
	}
}