/**************************
	VARIABLES
**************************/
$dark: #2D2830;
$light: #F1F1EB;
$brand: #CE4554;
$raleway: 'Raleway', sans-serif;
/**************************
	BASE VALUES
**************************/
*{
	font-size: 20px;
	font-family: $raleway;
	line-height: 2rem;
	color: $dark;
}
body{
	background: $light;
}
h1,h2,h3,h4,h5,h6{
	font-size: 1.5rem;
    font-weight: 900;
    text-transform: uppercase;
}
img{
	display: block;
}
button{
    margin-top: 20px;
    padding: 10px;
    background: $brand;
    border: none;
    color: $light;
    cursor: pointer;
}
/**************************
	TOP HEADER
**************************/
.top-header{
	background: $dark;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	.my-logo{
		width: 100px;
	}
	.top-header-social-media{
		display: flex;
		justify-content: right;
		padding: 1rem;
		.far, .fab{
			color: $light;
			font-size: 2rem;
			padding: 10px;
		}
	}
}
/**************************
	HOVER EFFECT
**************************/
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}
.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}
/**************************
	MAIN CONTENT
**************************/
.main-grid{
	max-width: 100%;
	display: grid;
	grid-template-areas: 
		"about projects"
		"skills projects"
		"contact projects";
	grid-template-columns: 450px 1fr;
	.about{
		grid-area: about;
		img{
			max-width: 100%;
		}
		#pic-degree{
			max-width: 100%;
			margin-top: 20px;
		}
	}
	.skills{
		grid-area: skills;
	}
	#particles-js{
		min-height: 100%;
		background: $brand;
	}
	.projects{
		grid-area: projects;
		position: relative;
		.header{
			background-color: $light;
			position: absolute;
			top: -100px;
			left: 0px;
			right: 0px;
			height: 100px;
			padding: 0.5rem;
			text-align: center;
		}
		.grid-container{
			padding: 25px;
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
			justify-content: space-evenly;
			justify-items: center;
			align-content: space-evenly;
			align-items: center;
			position: absolute;
			top: 200px;
			left: 25px;
			right: 25px;
			max-height: 100%;
		}
		.grid-container .item1, .grid-container .item2, .grid-container .item3{
			max-width: 100%;
			img{
				max-width: 100%;
				margin: 0px auto;
				cursor: pointer;
			}
			h2{
				background: $light;
				padding: 0.5rem;
			}
		}
	}
	.contact{
		grid-area: contact;
		.far, .fab{
			color: $dark;
			font-size: 2rem;
			padding: 10px;
		}
	}
	.about, .skills, .contact{
		h2{
			color: $brand;
		}
	}
	.projects{
		.header h2, a{
			color: $brand;
		}
	}
	.about, .skills, .contact, .projects, .grid-container > *{
		padding: 25px;
		p{
			margin: 10px 0px;
		}
	}
}
/**************************
	FOOTER
**************************/
footer{
	background: $dark;
	color: $light;
	.footer-social-media{
		.far, .fab{
			color: $light;
			font-size: 2rem;
			padding: 10px;
		}
	}
}
/**************************
	MEDIUM DEVICES
**************************/
@media only screen and (max-width: 950px) {
	.main-grid{
		max-width: 100%;
		display: flex;
		flex-direction: column;
		.about{
			header{
				img{
					max-width: 50%;
					float: left;
					margin-right: 20px;
				}
			}
		}
		#particles-js{
			background: $brand;
		}
		.projects{
			all: initial;
			position: relative;
			height: 2000px;
			.grid-container{
				all: initial;
				display: flex;
				flex-direction: column;
				justify-content: center;
				position: absolute;
				top: 0px;
				bottom: 0px;
				left: 0px;
				right: 0px;
				.header{
					background-color: $light;
					position: absolute;
					top: 0px;
					height: 100px;
					text-align: left;
				}
			}
			.grid-container .item1, .grid-container .item2, .grid-container .item3{
				h2{display:none;}
				max-width: 100%;
				img{
					max-width: 100%;
					margin: 0px auto;
					cursor: pointer;
				}
			}
		}
	}
}
/**************************
	SMALLER DEVICES
**************************/
@media only screen and (max-width: 325px) {
	.top-header{
		.top-header-social-media{
			.far, .fab{
				font-size: 1.5rem;
			}
		}
	}
}
@media only screen and (max-width: 400px) {
	.main-grid {
		.about {
			header {
				img {
					min-width: 100%;
					margin: 0px 0px 15px 0px;
				}
			}
		}
		.projects{
			height: 1500px;
		}
	}
}
@media only screen and (max-width: 330px) {
	.main-grid {
		.projects{
			height: 1100px;
			.grid-container{
				.item1{
					margin-top: 100px;
				}
			}
		}
	}
}